body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

/* Add shadow effect to chart. If you don't like it, get rid of it. */
svg {
    -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) );
}

#avartar {
  width: 120px;
  height: 120px;
  float: left;
  margin: 40px 0 0 70px;
}

#donutchart {
  float: right;
}
