#hstackbarchart {
  margin-top: 10px;
}

.form-options {
  label {
    input {
      margin: 0px 3px;
      &#decending {
        position: inherit;
        margin-left: 5px;
      }
    }
  }
  margin-bottom: 10px;
}
